.dropdown__menu {
  background-color: white;
  position: absolute;
  top: 2.5rem;
  right: 0;
  width: 280px;
  height: fit-content;
  z-index: 0;
  border-radius: 10px;
  padding: 24px 16px;
  box-shadow: var(--base-shadow);
}

.dropdown__placeholder {
  position: absolute;
  background: rgba(128, 128, 128, 0.28);
  z-index: 1;
  width: 100%;
  height: 100%;
  right: 0;
  top: 0;
}

.dropdown_show {
  composes: dropdown__menu;
  z-index: 1;
  display: block;
}

.dropdown_hide {
  composes: dropdown__menu;
  z-index: 0;
  display: none;
}
